body {
    background: rgb(23, 23, 23);
}

.header-content {
    text-align: center;
    padding-top: 10px;
}

.btn {
    background: transparent;
    border: none;
    background-color: rgb(199, 65, 217);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}


/* JavaScript */

.cats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.random_cats {
    width: 40%;
}

img {
    max-width: 700px;
    height: 30rem;
}