html {
    margin: 0;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 50%;
}

#red {
    background: rgb(194, 82, 82);
}

#white {
    background: white;
}

#purple {
    background: rgb(153, 79, 196);
}

#yellow {
    background: rgb(232, 232, 80);
}