    /* :root {
    background-color: lightblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
} */
    
    body {
        margin: 0;
        padding: 0;
        background-color: rgb(74, 69, 84);
        overflow: hidden;
        padding-bottom: 0px;
        animation: sky 5s 2s forwards infinite alternate;
    }
    
    @keyframes sky {
        0% {
            background-color: rgb(98, 101, 173);
        }
        25% {
            background-color: rgb(207, 197, 150);
        }
        50% {
            background-color: lightblue;
        }
        70% {
            background-color: rgb(176, 151, 67);
        }
        85% {
            background-color: rgb(98, 101, 173);
        }
        100% {
            background-color: rgb(44, 34, 60);
        }
    }
    
    .sun {
        width: 150px;
        border-radius: 50%;
        background-color: yellow;
        box-shadow: 0px 0px 20px 10px yellow;
        height: 150px;
        position: absolute;
        padding: 0px;
        left: 50%;
        aspect-ratio: 1/1;
        animation: 4s linear 0s infinite alternate sun-set;
    }
    
    @keyframes sun-set {
        from {
            transform: translateY(100vh);
        }
        to {
            transform: translateY(0);
        }
    }
    
    .city {
        padding: 0;
        width: 100%;
        top: 45%;
        position: absolute;
    }
    
    .city .city-img {
        padding-bottom: 0px;
    }